@model QuoteMyGoods.Areas.App.Models.MegaFormModel

@{
    ViewBag.Title = "MEGA FORM";
}

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form asp-controller="App" asp-action="MegaForm" method="post">
            <div class="form-horizontal">
                <h4>Mega Form</h4>
                @if (ViewBag.Message != null)
                {
                    <div>@ViewBag.Message</div>
                }
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="FirstName" class="col-md-2 control-label"></label>
                    <div class="col-md-6">
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="LastName" class="col-md-2 control-label"></label>
                    <div class="col-md-6">
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Email" class="col-md-2 control-label"></label>
                    <div class="col-md-6">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Phone" class="col-md-2 control-label"></label>
                    <div class="col-md-6">
                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Url" class="col-md-2 control-label"></label>
                    <div class="col-md-6">
                        <input asp-for="Url" class="form-control" />
                        <span asp-validation-for="Url" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="CreditCard" class="col-md-2 control-label"></label>
                    <div class="col-md-6">
                        <input asp-for="CreditCard" class="form-control" />
                        <span asp-validation-for="CreditCard" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Team" class="col-md-2 control-label"></label>
                    <div class="col-md-6">
                        <input asp-for="Team" class="form-control" />
                        <span asp-validation-for="Team" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Submit" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $(function () {
        jQuery.validator.addMethod('footballteam',
        function (value, element, params) {
            // custom validation code
            return true;
        });

        jQuery.validator.unobtrusive.adapters.add('footballteam',
        function (options) {
            options.rules['footballteam'] = {};
            options.messages['footballteam'] = options.message;
        });
    }(jQuery));
</script>
